body {
  display: flex;
  margin: 0px;
  width: 100%; }

.container {
  height: 100%;
  margin: 0;
  width: 100%; }
  .container .row {
    display: flex;
    justify-content: center; }
  .container .bottle-container {
    display: block;
    z-index: 10; }
    .container .bottle-container .bottle {
      display: inline-block;
      margin: 10px;
      margin-bottom: 0;
      width: 100px;
      transition: .8s all ease-in-out; }
      .container .bottle-container .bottle .bottle-neck {
        position: relative;
        top: 50px;
        left: 35px;
        width: 30px;
        height: 100px;
        background: #006a4e;
        border-radius: 10% 10% 10% 10%; }
        .container .bottle-container .bottle .bottle-neck::before {
          content: '';
          background: #006a4e;
          margin: 0 auto;
          height: 5px;
          width: 40px;
          border-radius: 50px 50px 50px 50px;
          border-bottom: 1px solid black;
          position: absolute;
          left: -5px; }
        .container .bottle-container .bottle .bottle-neck::after {
          content: '';
          display: block;
          position: absolute;
          background: transparent;
          height: 7px;
          width: 100%;
          top: 44px;
          z-index: 10;
          border-radius: 100%;
          border-top: 1px solid rgba(0, 90, 73, 0.4);
          border-bottom: 1px solid black; }
      .container .bottle-container .bottle .bottle-body {
        background: #006a4e;
        height: 160px;
        opacity: 1;
        display: flex;
        align-items: flex-end;
        justify-content: center; }
        .container .bottle-container .bottle .bottle-body::before {
          content: '';
          position: absolute;
          width: 100px;
          height: 15px;
          border-radius: 70% 70% 100% 100%;
          border-bottom: 1px solid black;
          background: #006a4e;
          top: 105px; }
        .container .bottle-container .bottle .bottle-body::after {
          content: '';
          width: 100px;
          height: 15px;
          border-top: 1px solid rgba(0, 90, 73, 0.4);
          border-bottom: 2px solid black;
          border-radius: 70% 70% 100% 100%;
          background: #006a4e;
          position: absolute;
          top: 261px;
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
          z-index: 1; }
        .container .bottle-container .bottle .bottle-body .bottle-label {
          position: relative;
          bottom: 20px;
          background: brown;
          border: 5px solid skyblue;
          border-radius: 100% 100% 100% 100%;
          height: 70px;
          margin-left: 5px;
          margin-right: 5px;
          margin-bottom: 5px;
          padding: 5px;
          width: 50px; }
          .container .bottle-container .bottle .bottle-body .bottle-label::before {
            content: 'WAYNE';
            position: relative;
            top: 30px;
            font-size: 15px;
            width: 100%;
            text-align: center;
            color: gold; }
  .container .wall-container {
    width: 100%;
    box-shadow: -40px 100px 25px 1px rgba(0, 0, 0, 0.6); }
  .container #wall-backdrop {
    background: #ccc;
    padding: 3px; }
  .container .brick {
    background: #bd5858;
    width: 15%;
    height: 3.5vw;
    border-radius: 5%;
    box-shadow: 0px 0px 24px 7px #7d3232 inset;
    margin-left: 5px;
    overflow: none; }
    .container .brick:first-child {
      margin-top: 0; }

@media screen and (max-width: 1268px) {
  .bottle-container {
    display: flex; } }

.fallen {
  position: relative;
  top: 27.5vw;
  transform: rotate(90deg); }
  .fallen .bottle-body::after {
    margin-top: 50px;
    left: 50px;
    transform: rotate(-90deg); }
